@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');

* {
    background-color: black;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: hsl(25, 100%, 50%);
    width: 105%;
    height: 10rem; 
    margin: -1rem  -1.5rem 0 -1.5rem;
}

#name-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 40%;
    background-color: hsl(25, 100%, 50%);
}

#name-nav-photo {
    width: 30rem;
    height: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    animation: slidein 2s ease-out;
}

@keyframes slidein {
    0% {
        margin-right: 100rem;
    }

    100% {
        margin-right: 0rem;
    }
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: hsl(25, 100%, 50%);
    width: 50%
}

.nav-bar-member {  
    color: white;
    font-family: 'Bebas Neue', cursive;
    background-color: hsl(25, 100%, 50%);
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.5s ease-out;
}

.nav-bar-member:hover {
    color: hsl(50, 100%, 80%);
    font-size: 1.75rem;
}

.nav-bar-member h2 {  
    background-color: hsl(25, 100%, 50%);
}

#front-page-photo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#front-page-photo {
    width: 70rem;
    height: 50rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    border-radius: 5%;
}

#front-page-photo-mobile {
    display: none;
}

#title-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#title-header {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    color: hsl(50, 100%, 80%);
}

#title-header-mobile {
    display: none;
}

#about-me-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: hsl(50, 100%, 80%);
    margin: 0  -1.5rem 0 -1.5rem;
}

#about-me-photo-container {
    background-color: hsl(50, 100%, 80%);
}

#about-me-photo {
    width: 23rem;
    height: 24rem;
    margin: 2rem 0;
    border-radius: 5%;
}

#about-me-text-container {
    background-color: hsl(50, 100%, 80%);
    width: 50%;
}

#about-me-title-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: hsl(50, 100%, 80%);
}

#about-me-title {
    width: 25rem;
    margin-top: 40px;
}

.about-me-text {
    background-color: hsl(50, 100%, 80%);
    font-size: 18pt;
    width: 100%;
    font-family: 'Asap Condensed', sans-serif;
    line-height: 1.5;
    text-align: justify;
}

#blogs-title-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#blogs-title {
    width: 20rem;
    margin-left: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#blogs-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
}

.blog {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-color: hsl(50, 100%, 80%);
    border-style: solid;
    width: 60%;
    margin-bottom: 2rem;
    border-radius: 5%; 
}

.blog-photo {
    width: 20rem;
    height: 20rem;
    margin: 2rem;
    border-radius: 5%;
    z-index: 1;
    transition: all 0.5s ease-out;
}

.blog-photo:hover {
    width: 22rem;
    height: 22rem;
    margin: 1rem;
}

.blog-title {
    color: white;
    width: 20rem;
    font-size: 24pt;
    font-family: 'Asap Condensed', sans-serif;
}

#footer-container {
    display: flex;
    flex-direction: row;
    background-color: hsl(25, 100%, 50%);
    margin: 0  -1.5rem -10rem -1.5rem;
}

#footer-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50%;
    background-color: hsl(25, 100%, 50%);
}

#footer-nav-arrow {
    color: white;
    background-color: hsl(25, 100%, 50%);
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 2rem;
}

#footer-nav-bar h1 {
    color: white;
    background-color: hsl(25, 100%, 50%);
    margin-top: 2rem;
    margin-left: 3rem;
    font-family: 'Asap Condensed', sans-serif;
    font-size: 2rem;
}

#footer-nav-links {
    margin-left: 1rem;
}

.footer-link {
    background-color: hsl(25, 100%, 50%);
    text-decoration: none;
    color: white;
    transition: all 0.5s ease-out;
}

.footer-link:hover {
    font-size: 2.5rem;
}

#contact-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
    background-color: hsl(25, 100%, 50%);
}

#contact-photo-container {
    background-color: hsl(25, 100%, 50%);
}

#contact-photo {
    width: 10rem;
    margin: 2rem 2rem 2rem 5rem;
    background-color: hsl(25, 100%, 50%);
    border-radius: 5%;
}

#contact-content {
    background-color: hsl(25, 100%, 50%);
}

#contact-content h1{
    color: white;
    padding: 1rem 0;
    margin-bottom: 0;
    font-family: 'Asap Condensed', sans-serif;
    background-color: hsl(25, 100%, 50%);
}

#footer-email {
    margin-top: 0;
}

#contact-links-container {
    display: flex;
    flex-direction: row;
    background-color: hsl(25, 100%, 50%);
    margin-right: 3rem;
}

.contact-link {
    background-color: hsl(25, 100%, 50%);
}

.contact-link i {
    color: white;
    background-color: hsl(25, 100%, 50%);
    font-size: 3rem;
    padding-right: 2rem;
    padding-top: 1rem;
    transition: all 0.5s ease-out;
}

.contact-link i:hover {
    color: black;
}

@media only screen and (max-width: 1300px) and (min-width: 1000px) {
    #header {
        height: 10rem; 
    }

    .blog {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .blog-title {
        margin-top: 0;
    }

    #footer-navigate {
        display: none;
    }

    #footer-nav-arrow {
        display: none;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 700px) {
    #header {
        display: flex;
        flex-direction: column;
        height: 12rem; 
    }

    #nav-bar {
        justify-content: space-evenly;
        width: 100%; 
    }

    #name-nav-container {
        width: 60%;
    }

    #name-nav-photo {
        margin-bottom: 0;
    }

    .nav-bar-member { 
        font-size: 1.2rem;
    }
    
    .nav-bar-member:hover {
        font-size: 1.5rem;
    }

    #title-header {
        font-size: 1.5rem;
    }

    #front-page-photo {
        width: 45rem;
        height: 35rem;
    }

    #about-me-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #about-me-title {
        margin-top: 0;
    }

    #about-me-text-container {
        width: 80%;
    }

    .blog {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .blog-title {
        margin-top: 0;
    }

    #footer-navigate {
        display: none;
    }

    #footer-nav-arrow {
        display: none;
    }

    #footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #footer-nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 2rem;
    }

    #contact-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media only screen and (max-width: 700px) and (min-width: 400px) {
    #header {
        display: flex;
        flex-direction: column;
        height: 12rem;
    }

    #nav-bar {
        justify-content: space-evenly;
        width: 100%; 
    }

    #name-nav-container {
        width: 80%;
    }

    #name-nav-photo {
        margin-bottom: 0;
    }
    
    .nav-bar-member { 
        font-size: 1.2rem;
    }
    
    .nav-bar-member:hover {
        font-size: 1.5rem;
    }

    #front-page-photo {
        display: none;
    }

    #front-page-photo-mobile {
        display: block;
        width: 20rem;
        height: 22rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
        border-radius: 5%;
    }

    #title-header {
        font-size: 1.2rem;
    }
    
    #about-me-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #about-me-title-container {
        justify-content: center;
    }

    #about-me-title {
        margin-top: 0;
        width: 20rem;
    }

    #about-me-text-container {
        width: 80%;
    }

    .about-me-text {
        font-size: 1.2rem;
    }

    #blogs-title-container {
        justify-content: center;
    }

    .blog {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-style: none;
    }

    .blog-title {
        margin-top: 0;
    }

    #footer-navigate {
        display: none;
    }

    #footer-nav-arrow {
        display: none;
    }

    #footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #footer-nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 0;
    }

    #contact-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media only screen and (max-width: 400px) {
    #header {
        display: flex;
        flex-direction: column;
        height: 10rem;
    }

    #nav-bar {
        justify-content: space-evenly;
        width: 100%; 
    }

    #name-nav-container {
        width: 80%;
    }

    #name-nav-photo {
        width: 18rem;
        height: 3rem;
        margin-bottom: 0;
    }
    
    .nav-bar-member { 
        font-size: 1rem;
    }
    
    .nav-bar-member:hover {
        font-size: 1.2rem;
    }

    #front-page-photo {
        display: none;
    }

    #front-page-photo-mobile {
        display: block;
        width: 16rem;
        height: 17rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        border-radius: 5%;
    }

    #title-header {
        display: none
    }

    #title-header-mobile {
        display: block;
        font-family: 'Bebas Neue', cursive;
        font-size: 1.5rem;
        color: hsl(50, 100%, 80%);
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    #about-me-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #about-me-title-container {
        justify-content: center;
    }

    #about-me-title {
        margin-top: 0;
        width: 15rem;
        height: 3rem;
    }

    #about-me-photo {
        width: 16rem;
        height: 17rem;
        margin: 2rem 0;
        border-radius: 5%;
    }

    #about-me-text-container {
        width: 80%;
    }

    .about-me-text {
        font-size: 1.2rem;
    }

    #blogs-title-container {
        justify-content: center;
    }

    #blogs-title {
        width: 15rem;
        height: 4rem;
        margin-left: 0;
    }

    .blog {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-style: none;
    }

    .blog-title {
        margin-top: 0;
        width: 18rem;
    }

    .blog-photo {
        width: 18rem;
        height: 18rem;
        margin: 2rem;
        border-radius: 5%;
        z-index: 1;
        transition: all 0.5s ease-out;
    }

    #footer-navigate {
        display: none;
    }

    #footer-nav-arrow {
        display: none;
    }

    #footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #footer-nav-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: 0;
    }

    #footer-nav-bar h1 {
        font-size: 1.5rem;
        margin-left: 0;
    }

    #contact-photo-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: hsl(25, 100%, 50%);
    }

    #contact-photo {
        width: 16rem;
        height: 17rem;
        margin: 16px;
        border-radius: 5%;
    }

    #contact-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contact-links-container {
        width: 100%;
        align-items: center;
        margin-top: 0;
        margin-bottom: 2rem;
        margin-right: 0;
    }
}