@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    background-color: black;
}

#nav-bar-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    background-color: hsl(25, 100%, 50%);
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 16pt;
    margin: -10px  -20px 0 -20px;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: hsl(25, 100%, 50%);
    width: 40%;
   
}

.nav-bar-member {
    background-color: hsl(25, 100%, 50%);
}

#front-page-photo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#front-page-photo {
    width: 1158px;
    height: 768px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#name-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#name-header {
    font-family: 'Bebas Neue', cursive;
    font-size: 24pt;
    color: yellow;
}

#title-header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#title-header {
    font-family: 'Bebas Neue', cursive;
    font-size: 24pt;
    color: yellow;
}

#about-me-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: hsl(50, 100%, 80%);
    margin: 0px  -20px;
}

#about-me-photo {
    width: 373px;
    height: 395px;
    margin: 40px 0;
}

#about-me-text-container {
    background-color: hsl(50, 100%, 80%);
    width: 50%;
    
}

.about-me-text {
    background-color: hsl(50, 100%, 80%);
    font-size: 18pt;
    width: 100%;
}